@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import "auth";
@import "info";
@import "news";
@import "user";

@mixin laptop {
  @media (max-width: 1300px) {
    @content;
  }
}

@mixin min-laptop {
  @media (min-width: 1300px) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: 1000px) {
    @content;
  }
}

@mixin min-tablet {
  @media (min-width: 1000px) {
    @content;
  }
}

.feed {
  background: black;
  color: white;
  min-height: 100vh;
  font-family: "poppins";
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  @include tablet() {
    grid-template-columns: 1fr 3fr;
  }
  @include min-tablet() {
    grid-template-columns: 1fr 600px 1fr;
  }
}

.left-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  a {
    color: white;
  }
  @include min-laptop() {
    align-items: end;
    margin-right: 50px;
  }

  img {
    width: 80px;
    @include laptop() {
      width: 50px;
    }
  }

  nav {
    display: flex;
    flex-direction: column;
    padding: 20px 10px;

    @include laptop() {
      align-items: end;
    }

    a {
      display: flex;
      font-size: 19px;
      gap: 10px;
      padding: 20px 10px;
      border-radius: 6px;
      cursor: pointer;
      transition: all 0.4s;

      &:hover {
        background: rgb(50, 50, 50);
      }
    }

    button {
      background: $blue;
      color: white;
      margin-top: 20px;
      border-radius: 4px;
      font-weight: bold;
      &:hover {
        background: rgb(0, 97, 161);
      }
      @include laptop() {
        padding: 0;
        width: 50px;
        height: 50px;
        display: grid;
        place-items: center;
        border-radius: 50%;
      }
    }
    i {
      @include laptop() {
        font-size: 26px;
      }
    }
    span {
      white-space: nowrap;
      @include laptop() {
        display: none;
      }
    }
  }

  .user-info {
    display: flex;
    gap: 10px;
    @include laptop {
      flex-direction: column;
      align-items: end;
    }
    img {
      height: 60px;
      width: 60px;
      border-radius: 50%;
    }
    button {
      background: gray;
      border-radius: 6px;
      color: white;

      span {
        @include laptop() {
          display: none;
        }
      }
    }
    p {
      @include laptop {
        display: none;
      }
    }
  }
}

main {
  overflow: auto;
  height: 100vh;
  border: 1px solid rgb(60, 60, 60);

  &::-webkit-scrollbar {
    width: 10px;
    background: black;
  }

  &::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 5px;
  }

  header {
    padding: 20px;
    font-weight: bold;
    font-size: 21px;
    border-bottom: 1px solid rgb(60, 60, 60);
  }

  #post-tweet {
    display: flex;
    gap: 10px;
    border-bottom: 1px solid rgb(60, 60, 60);
    padding: 10px;

    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }
    .input-area {
      width: 100%;

      input {
        width: 100%;
        background: black;
        color: white;
        border: none;
        outline: none;
        padding: 10px 20px;
        font-size: 20px;
      }

      .buttons {
        display: flex;
        justify-content: end;
        button {
          border-radius: 60px;
          background: $blue;
          color: white;
          &:hover {
            background: rgb(0, 92, 149);
          }
        }
      }
    }
  }
}

.tweets-area {
  display: flex;
  flex-direction: column;
}

.tweet {
  display: flex;
  padding: 10px;
  gap: 15px;
  border-bottom: 1px solid rgb(50, 50, 50);
  &:hover {
    background: rgb(28, 28, 28);
  }

  #user-img {
    height: 50px;
    border-radius: 50%;
  }
  .body {
    width: 100%;
    margin-top: 10px;
    .user {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .info {
        display: flex;
        gap: 10px;
        text-decoration: none;
        color: white;
      }
      p {
        color: gray;
      }
    }
    .content {
      text-decoration: none;
      color: white;
      img {
        width: 100%;
        border-radius: 10px;
        max-height: 300px;
        object-fit: cover;
      }
      video {
        width: 100%;
        border-radius: 10px;
        max-height: 500px;
      }
    }
    .buttons {
      display: flex;
      justify-content: space-between;
      margin-top: 20px;

      button {
        background: none;
        color: rgb(136, 136, 136);
        &:hover {
          background: rgba(236, 236, 236, 0.247);
          border-radius: 50px;
        }
      }
    }
  }
}

.news {
  @include tablet() {
    display: none;
  }
}
