@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
button {
  border: none;
  outline: none;
  cursor: pointer;
  padding: 5px 20px;
  border-radius: 10px;
  transition: all 0.3s;
}

.auth-page {
  min-height: 100vh;
  background: rgb(30, 30, 30);
  display: grid;
  place-items: center;
}

.auth-page form {
  background: black;
  color: white;
  display: flex;
  flex-direction: column;
  min-width: 450px;
  align-items: center;
  padding: 40px 80px;
  border: 1px solid rgb(69, 69, 69);
  border-radius: 10px;
  gap: 50px;
}
.auth-page form img {
  width: 80px;
}
.auth-page form div {
  width: 100%;
}
.auth-page form input {
  margin-top: 5px;
}
.auth-page form button {
  width: 100%;
  background: white;
  color: black;
  border-radius: 10px;
}
.auth-page form button:hover {
  background: rgb(198, 198, 198);
}
.auth-page form .warning {
  width: 100%;
  background: #f8d7da;
  padding: 5px 20px;
  color: black;
  border-radius: 5px;
}

.feed {
  background: black;
  color: white;
  min-height: 100vh;
  font-family: "poppins";
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}
@media (max-width: 1000px) {
  .feed {
    grid-template-columns: 1fr 3fr;
  }
}
@media (min-width: 1000px) {
  .feed {
    grid-template-columns: 1fr 600px 1fr;
  }
}

.left-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (min-width: 1300px) {
  .left-bar {
    align-items: end;
    margin-right: 50px;
  }
}
.left-bar img {
  width: 80px;
}
@media (max-width: 1300px) {
  .left-bar img {
    width: 50px;
  }
}
.left-bar nav {
  display: flex;
  flex-direction: column;
  padding: 20px 10px;
}
@media (max-width: 1300px) {
  .left-bar nav {
    align-items: end;
  }
}
.left-bar nav a {
  display: flex;
  font-size: 19px;
  gap: 10px;
  padding: 20px 10px;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.4s;
}
.left-bar nav a:hover {
  background: rgb(50, 50, 50);
}
.left-bar nav button {
  background: #1da1f2;
  color: white;
  margin-top: 20px;
  border-radius: 4px;
  font-weight: bold;
}
.left-bar nav button:hover {
  background: rgb(0, 97, 161);
}
@media (max-width: 1300px) {
  .left-bar nav button {
    padding: 0;
    width: 50px;
    height: 50px;
    display: grid;
    place-items: center;
    border-radius: 50%;
  }
}
@media (max-width: 1300px) {
  .left-bar nav i {
    font-size: 26px;
  }
}
.left-bar nav span {
  white-space: nowrap;
}
@media (max-width: 1300px) {
  .left-bar nav span {
    display: none;
  }
}
.left-bar .user-info {
  display: flex;
  gap: 10px;
}
@media (max-width: 1300px) {
  .left-bar .user-info {
    flex-direction: column;
    align-items: end;
  }
}
.left-bar .user-info img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
}
.left-bar .user-info button {
  background: gray;
  border-radius: 6px;
  color: white;
}
@media (max-width: 1300px) {
  .left-bar .user-info button span {
    display: none;
  }
}
@media (max-width: 1300px) {
  .left-bar .user-info p {
    display: none;
  }
}

main {
  overflow: auto;
  height: 100vh;
  border: 1px solid rgb(60, 60, 60);
}
main::-webkit-scrollbar {
  width: 10px;
  background: black;
}
main::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 5px;
}
main header {
  padding: 20px;
  font-weight: bold;
  font-size: 21px;
  border-bottom: 1px solid rgb(60, 60, 60);
}
main #post-tweet {
  display: flex;
  gap: 10px;
  border-bottom: 1px solid rgb(60, 60, 60);
  padding: 10px;
}
main #post-tweet img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
main #post-tweet .input-area {
  width: 100%;
}
main #post-tweet .input-area input {
  width: 100%;
  background: black;
  color: white;
  border: none;
  outline: none;
  padding: 10px 20px;
  font-size: 20px;
}
main #post-tweet .input-area .buttons {
  display: flex;
  justify-content: end;
}
main #post-tweet .input-area .buttons button {
  border-radius: 60px;
  background: #1da1f2;
  color: white;
}
main #post-tweet .input-area .buttons button:hover {
  background: rgb(0, 92, 149);
}

.tweets-area {
  display: flex;
  flex-direction: column;
}

.tweet {
  display: flex;
  padding: 10px;
  gap: 15px;
  border-bottom: 1px solid rgb(50, 50, 50);
}
.tweet:hover {
  background: rgb(28, 28, 28);
}
.tweet #user-img {
  height: 50px;
  border-radius: 50%;
}
.tweet .body, .tweet .tweet-info {
  width: 100%;
  margin-top: 10px;
}
.tweet .body .user, .tweet .tweet-info .user {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.tweet .body .user .info, .tweet .tweet-info .user .info {
  display: flex;
  gap: 10px;
}
.tweet .body .user p, .tweet .tweet-info .user p {
  color: gray;
}
.tweet .body .content, .tweet .tweet-info .content {
  text-decoration: none;
  color: white;
}
.tweet .body .content img, .tweet .tweet-info .content img {
  width: 100%;
  border-radius: 10px;
  max-height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}
.tweet .body .content video, .tweet .tweet-info .content video {
  width: 100%;
  border-radius: 10px;
  max-height: 500px;
}
.tweet .body .buttons, .tweet .tweet-info .buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.tweet .body .buttons button, .tweet .tweet-info .buttons button {
  background: none;
  color: rgb(136, 136, 136);
}
.tweet .body .buttons button:hover, .tweet .tweet-info .buttons button:hover {
  background: rgba(236, 236, 236, 0.247);
  border-radius: 50px;
}

.info-area .top {
  display: flex;
  gap: 30px;
  align-items: center;
}

.tweet-info {
  flex-direction: column;
}

@media (max-width: 1000px) {
  .news {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */